<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="css/quiz.style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/helper/httpclient.js"></script>
<script src="js/core/quiz.maker.js"></script>

@await RenderSectionAsync("Scripts", required: false)